.legend{
    width: 90%;
    display: flex;

    justify-content: left;
    margin: .5rem 0 .5rem 0;

}
.legend > legend{
    flex: 1;
    font-size: 100%;
    margin:0;
    height:fit-content;
}
.legend > div{
    flex:3;
    display: flex;
    justify-content: space-between;
}
.legend > div>div{

    display: flex;


}

.legend > div>div> div{
    height: 2rem;
    width: 2rem;
    border: #dee2e6 solid 1px;

}
.legend > div>div> p{
    margin-left:.5rem;
    margin-bottom:0;

}
