
#dropdown-basic-button {
    color: #595c5f;
    background-color: #fff;
    text-align: left;
}




.justify-buttons {
    justify-content: space-between;
    justify-self: flex-end;
    align-self: flex-end;
}

.settings > div > div>div > form > div > * {
width: 100%;
}