.save-cancel {
  align-self: flex-end;
}

.settings form > div > div > :nth-child(1) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.save-cancel > :nth-child(1) {
  background-color: #6c757d;
  border-color: #6c757d;
  margin-right: 1rem;
}
.save-cancel > :nth-child(1):active {
  background-color: #677077;
  border-color: #677077;
  color: #fff;
}
